{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Article</h1>

        {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

        <a type="button" class="btn btn-info" href="{{ path('article_index') }}">back to list</a>

        {{ include('article/_delete_form.html.twig') }}
    </div>
{% endblock %}
